@import url(font-awesome.min.css);
html{
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    background: #ffffff;
    line-height: 1.65;
}
body:before {
    content: ' ';
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3; 
}
body, input, select, textarea {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65; 
}
article, aside, details, figcaption, figure, footer, #header, hgroup, menu, nav, section{
    display: block
}
a {
    color: #ce1b28; 
}
#header{
    background-color:#000;
    height:50px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:default;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index:101;
    line-height:3.25rem;
}
@media screen and (max-width: 980px) {
    #header{
        line-height: 44px;
    }
}
#header > .logo{
    color:#fff;
    font-size:1rem;
    height:inherit;
    padding:0 1.25rem;
    text-decoration:none;
    font-weight:600;
    margin:0;
    vertical-align: baseline; 
}

#header > nav > a:last-child{
    padding-right:1.25rem;
}
#header > nav > a[href="#menu"]{
    text-decoration:none;
    -webkit-tap-highlight-color:#000;
    color:rgba(255, 255, 255, 0.5);
}
#header > nav > a[href="#menu"]:before{
    content:'\f0c9';
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; 
}
#banner{
    width:100%;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    color:#fff;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    background-color:#111111;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image:url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
#banner p {
    font-size: 1.5rem; 
}
#menu{
    background-color:#111111;
    color:#fff;
    -moz-transform: translateX(20rem);
    -webkit-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    -webkit-overflow-scrolling: touch;
    box-shadow:none;
    height:100%;
    max-width:80%;
    overflow-y:auto;
    padding:3rem 2rem;
    position:fixed;
    right:0;
    top:0;
    visibility:hidden;
    width:20rem;
    z-index:102;
}
.wrapper {
    padding: 4rem 0 6rem 0 ;
    position: relative;
    z-index: 1; 
}
.inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem); 
}
header.special {
    text-align: center;
    margin-bottom: 4rem; 
}
header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; 
}
h2 {
    font-size: 2.25rem;
    line-height: 1.3; 
}

.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
}
.highlights > * {
    flex-shrink: 1;
    flex-grow: 0; 
}
.highlights > * {
    width: 33.3333333333%; 
}
.highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); 
}
.highlights > :nth-child(-n + 3) {
    padding-top: 0; 
}
.highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; 
}
.highlights > :nth-child(3n + 1) {
    padding-left: 0; 
}
.highlights > :nth-child(3n) {
    padding-right: 0; 
}
.highlights > :nth-child(3n + 1), .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); 
}
.highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; 
}
.highlights .content .icon {
    font-size: 5rem; 
}
.highlights > div > :last-child {
    margin-bottom: 0; 
}
/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative; 
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; 
}
.icon > .label {
    display: none; 
}
.highlights .content {
    background: #fff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); 
    border-radius: 10px;
}