@import url(font-awesome.min.css);
html{
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    background: #ffffff;
    line-height: 1.65;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block
}
header{
    background-color:#000;
    height:50px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:default;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index:101;
    line-height:3.25rem;
}
@media screen and (max-width: 980px) {
    header{
        line-height: 44px;
    }
}
header > .logo{
    color:#fff;
    font-size:1rem;
    height:inherit;
    padding:0 1.25rem;
    text-decoration:none;
    font-weight:600;
    margin:0;
    vertical-align: baseline; 
}

header > nav > a:last-child{
    padding-right:1.25rem;
}
header > nav > a[href="#menu"]{
    text-decoration:none;
    -webkit-tap-highlight-color:#000;
    color:rgba(255, 255, 255, 0.5);
}
header > nav > a[href="#menu"]:before{
    content:'\f0c9';
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; 
}
#banner{
    width:100%;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    color:#fff;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    background-color:#111111;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image:url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
#banner p {
    font-size: 1.5rem; 
}